<h1>Admin List</h1>

<div>
  <%= form_tag admins_path, :method => "get" do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Dogs" %>
    <%= submit_tag "Search" %>
  <% end %>
</div>



<div>
  <% @dog.each do |dog| %>
    <%= dog.name %><br>
    <% dog.records.each do |records|  %>
      - <%= records.name %><br>
    <% end %>
  <% end %>
</div>

