<h1>Dog Registration Form</h1>

<%= form_with model: @dog, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :images %>
  <%= f.file_field :images, multiple: true %><br>

  <%= f.label :records %>
  <%= f.file_field :records, multiple: true  %><br>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit 'Submit' %>
<% end %>
