<h1>New Location Form</h1>

<%= form_with model: @location, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :description %>
  <%= f.text_area :description %><br>

  <%= f.label :images %>
  <%= f.file_field :images, multiple: true  %><br>

  <%= f.submit 'Submit' %>
<% end %>
