<h1>New Location Form</h1>

<%= form_with model: @location, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :description %>
  <%= f.text_area :description %><br><br>

  <%= f.label :small %><br>
  <%= f.number_field :small %><br>

  <%= f.label :medium %><br>
  <%= f.number_field :medium %><br>

  <%= f.label :large %><br>
  <%= f.number_field :large %><br>

  <%= f.label :images, "Photos" %>
  <%= f.file_field :images, multiple: true  %><br>

  <%= f.submit 'Submit' %>
<% end %>
